//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#ff401c;
$texto:#44484a;

/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/
.bg-primary {
	background-color: $principal !important;
}
.text-primary {
	color: $principal !important;
}

.btn-primary {
	background-color:$principal !important;
	border-color: darken($principal,20%) !important;
}/*dark, funcion de sass nos permite oscurecer un 20% a la variable principal*/
.btn-primary:hover,
.btn-primary:focus {
	background-color:darken($principal,10%) !important;
}
.btn-primary:active {
	background-color:darken($principal,20%) !important;
	border-color: darken($principal,30%) !important;
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important;
}

/*--------------------------
ESTILOS DEL DISEÑO
---------------------------*/
html{
	font-size: 13px;	
}
body{
	color:$texto; /*Personalizando elt exto con la variable general*/
	font-family: 'Open Sans', sans-serif;
}

.card:hover{
	box-shadow: 0 0 10px #0c0c0c3b;

}

/*------------------------
SHOW DE LOS MEDIAS QUERIES
------------------------*/

@media (min-width: 768px){
	html{
		font-size: 16px;	
	}

}